body{
	background-image: url("images/fundo.jpg");
	font-family: Verdana, Arial, "sans-serif";
}

#container{
    width: 960px;
    margin: auto;
    background-color: #FFF;
}

#topo{
    background-image: url("images/topo.jpg");
    height: 224px;
}

#logo{
    position: absolute;
    height: 163px;
    width: 153px;
    float: left;
    margin: 40px 60px;
}

#menu{
    height: 65px;
    background-image: url("images/barra.jpg");
}

#menu ul {
    padding:0px;
    margin:0px;
    list-style:none;
    text-align: center;
    line-height: 65px;
}

#menu ul li {
    display: inline;
}

#menu ul li a {
    font-size: 14px;
    color: #FFF;
    text-decoration: none;
    padding: 2px 50px;
    display: inline-block;
}

#menu ul li a:hover {
    color: #018AD1;
    text-decoration: underline;
}

#conteudo{
    height: auto;
    background-color: #FFF;
}

#conteudo h1{
    font-size: 24px;
    color: #018AD1;
}

#conteudo h2{
	font-size: 26px;
	color: #A61E0E;
}
#texto{
    width: 505px;
    height: auto;
    text-align: justify;
	margin-top: 50px;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 50px;
	float:left;
}

#texto p{
	font-size:14px;
	margin-bottom: 20px;
	line-height: 20px;
}

#promocao{
	float: right;
	height:186px;
	width:255px;
	margin-right: 60px;
	margin-top: 50px;
}

#propaganda{
	float: right;
	width:255px;
	margin-right: 35px;
	margin-top: -40px;
	color: white;
	font-size: 16px;
}

#rodape{
    height: 65px;
    background-image: url("images/barra.jpg");
    text-align: center;
    color: white;
    line-height: 65px;
	clear: both;
}